<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.platform/menu.application" insertBefore="administration">
<!--        <item screen="User.browse" caption="msg://com.company.platform.screen.user/UserBrowse.caption"/>-->
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="GF_POBDetail.browse"
              caption="msg://com.company.platform.screen.gf_pobdetail/GF_POBDetailBrowse.menu"/>
        <item screen="GF_POBMain.browse" caption="msg://com.company.platform.screen.gf_pobmain/GF_POBMainBrowse.menu"/>
        <item screen="ProductDisassemblyProcessDefine.browse"
              caption="msg://com.company.platform.screen.productdisassemblyprocessdefine/productDisassemblyProcessDefineBrowse.menu"/>
        <item screen="GraphDemo" caption="msg://com.company.platform.screen.graphdemo/graphDemo.caption"/>
        <item screen="WorkingInstruction"
              caption="msg://com.company.platform.screen.workinginstruction/workingInstruction.caption"/>
        <item screen="PredictionScreen"
              caption="msg://com.company.platform.screen.prediction/predictionScreen.caption"/>
        <item screen="WorkGuidInfo.browse"
              caption="msg://com.company.platform.screen.workguidinfo/workGuidInfoBrowse.menu"/>
        <item screen="CameraInfo.browse" caption="msg://com.company.platform.screen.camerainfo/cameraInfoBrowse.menu"/>
        <item screen="SensorInfo.browse" caption="msg://com.company.platform.screen.sensorinfo/sensorInfoBrowse.menu"/>
    </menu>
    <item screen="TestScreen" caption="msg://com.company.platform.screen.test/testScreen.caption"/>
</menu-config>